<h1 class="page-title text-dark text-center text-uppercase fw-lighter mt-4">likes</h1>
<h5 class="page-title text-dark text-center">いいねしたお店</h5>
<div class="container px-4 px-lg-5 my-5">
  <% if @like_restaurants.blank? %>
    まだいいねしたお店はありません。
  <% else %>
    <div class="list-group">
      <% @like_restaurants.each do |restaurant| %>
        <%= link_to restaurant_path(restaurant), class:"list-group-item list-group-item-action" do %>
          <i class="bi bi-heart"></i>&ensp;<%= restaurant.name %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
