<div class="container px-4 px-lg-5 my-5">
  <h1><i class="bi bi-chat-left-dots-fill"></i>&ensp;投稿したレポ一覧</h1>
  <% if @restaurants.blank? %>
    まだ投稿したレポはありません。
  <% else %>
    <div class="list-group">
      <% @restaurants.each do |restaurant| %>
        <% restaurant.reports.each do |report| %>
          <%= link_to restaurant_path(restaurant, anchor: "report_#{report.id}"), data:{"turbolinks"=>false}, class:"list-group-item list-group-item-action" do %>
            <i class="bi bi-pencil-fill"></i>&ensp;<%= report.title %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
