<h1 class="page-title text-dark text-center text-uppercase fw-lighter mt-4">my reports</h1>
<h5 class="page-title text-dark text-center">投稿したレポ</h5>
<div class="container px-4 px-lg-5 my-5">
  <% if @restaurants.blank? %>
    まだ投稿したレポはありません。
  <% else %>
    <div class="list-group">
      <% @restaurants.each do |restaurant| %>
        <% restaurant.reports.where(user: current_user).each do |report| %>
          <%= link_to restaurant_path(restaurant, anchor: "report_#{report.id}"), data:{"turbolinks"=>false}, class:"list-group-item list-group-item-action" do %>
            <i class="bi bi-pencil-fill"></i>&ensp;<%= report.title %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
