<h1 class="page-title text-dark text-center text-uppercase fw-lighter mt-4">my restaurants</h1>
<h5 class="page-title text-dark text-center">投稿したお店</h5>
<div class="container px-4 px-lg-5 my-5">
  <% if @restaurants.blank? %>
    まだ投稿したお店はありません。
  <% else %>
    <div class="list-group">
      <% @restaurants.each do |restaurant| %>
        <%= link_to restaurant_path(restaurant), class:"list-group-item list-group-item-action" do %>
          <i class="bi bi-pencil-fill"></i>&ensp;<%= restaurant.name %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
