<%= image_tag("logo.png", alt: "FOOD TRAVEL", class: "mx-auto mb-4", width: 100, height: 100) %>
<h1 class="display-5 fw-bold text-light">FOOD TRAVEL</h1>
<p class="lead mb-4 text-light">今日はどこの国のご飯を食べにいく？</p>
<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
  <button type="button" class="btn btn-primary btn-lg px-4 gap-3">国から探す</button>
  <button type="button" class="btn btn-outline-secondary btn-lg px-4">現在地から探す</button>
</div>