@import "~bootstrap/scss/bootstrap";

//restaurantsのnew,edit,reportsのnew,editでの写真のプレビューの大きさ
.preview-img {
  width: 300px;
  object-fit: cover;
}

//インクリメンタルサーチの国の候補レイアウト
#search-result{
  display: flex;
  flex-wrap: wrap;
}
.child {
  display: block;
  width: 200px;
  margin: 1px;
  padding: 0 15px;
  background: #212529;
  color: #ffff;
  text-align: center;
  border-radius: 15px;
}