<p class="pt-2">ログインをすると見ることができます！</p>
<%= link_to new_user_session_path, class: "btn btn-warning focus-button", data: { turbolinks:"false" } do %>
  <i class="bi bi-door-open"></i>&ensp;今すぐログインする
<% end %>

