<% @restaurants.each do |r| %>
  <table>
      <tr>
          <td><%= r.name %></td>
          <td><%= r.address %></td>
          <td><%= r.memo %></td>
          <td><%= link_to "詳細", r %></td>
      </tr>
  </table>
<% end %>