<h1 class="page-title text-dark text-center text-uppercase fw-lighter mt-4">search</h1>
<h5 class="page-title text-dark text-center">世界地図から探す</h5>
<div class="container">
  <%= link_to :back, class:"btn btn-dark mb-3 mt-3" do %>
    <i class="bi bi-arrow-left"></i>一つ前に戻る
  <% end %>
  <div class="m-1">
    <i class="bi bi-question-circle"></i>
    &ensp;旗のアイコンをクリックして左側に出てきたメニューの「説明」内のリンクに飛ぶと、その国の料理が食べられるお店の検索結果画面が出ます！
  </div>
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1UF4jSg_-lKA8z8Af0bZ6OkptHc8v4rQ&ehbc=2E312F" style="width: 100%; height: calc(100vh - 100px);"></iframe>
</div>