@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "homes/index";
@import "devise/sign_in";
@import "devise/sign_up";
@import "devise/forgot_password";
@import "restaurants";
@import "likes";
@import "users";
@import "bootstrap";

header {
  position: sticky;
  z-index: 999;
  top: 0;
}

.no-margin {
  margin: 0;
}

.wrap{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer{
    margin-top: auto;
}