<p>※このメールは自動送信メールです。</p>
<p><%= @resource.email %> 様</p>
<p>foodtravel事務局です。</p>
<p>パスワードの変更が完了いたしました。</p>
<p>今後ともよろしくお願いいたします。</p>
<br>
<p>覚えがないのにこのメールが届いたという方<br>
ご迷惑をおかけし申し訳ありません。大変お手数ですが下記メールアドレスまでご連絡をお願いいたします。<br>
</p>
<p><%= ENV['APP_EMAIL'] %></p>
<br>
<p>――――――――――――――――――――――――――――――</p>
foodtravel<br>
URL ： <%= ENV['APP_URL'] %><br>
Mail ： <%= ENV['APP_EMAIL'] %><br>
<p>――――――――――――――――――――――――――――――</p>
