<h1 class="page-title text-dark text-center text-uppercase fw-lighter mt-4">edit</h1>
<h5 class="page-title text-dark text-center">編集</h5>
<%= render "form", restaurant: @restaurant, report: @report %>
