html, body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;

  .form-floating:focus-within {
    z-index: 2;
  }

  input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .forgotPasswortLink {
    .link{
      color: currentColor;
      text-decoration: none;
      
      &:hover{
        text-decoration: underline;
      }
    }
  }
  
  .newLink{
    text-align: center;
    .link{
      color: currentColor;
    }
  }
}
